body{
    margin: auto;
    padding: 0px;
}

header{
    
}

#rightpanel{
    margin:0px;
    padding: 0px;   
}

/*Left Panel*/
.sidenav {
        height: 100%;
        width: 250;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
}

.sidenav a {
        padding: 8px 20px 8px 12px;
        text-decoration: none;
        font-size: 22px;
        color: #818181;
        display: block;
        transition: 0.3s;
}

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
.image{
    width: auto;
    margin: 16px;
}

figcaption{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 60px;
}

.container{
    font-size: 16px;
    width: 100%;
}

img {
  border-radius: 50%;
}

#

@media only screen and (max-width: 840px){
    
    .sidenav{
        margin-top: 35%;
    }

    .container .profile_name{
        visibility: hidden;
    }
    
    #rightpanel{        
        width: 100%;        
        float:none;
    }
    
    .header{
        width: 100%;
        height: 50px;
        background-color: #111;
    }
    
   
}

@media only screen and (min-width: 840px){
    
    .sidenav{
        
    }
    
    #rightpanel{        
        margin-left: 250px;
        overflow-x: hidden;
    }   
    
    .sidenav{
        width: 250px;
    }
    
    .closebtn {
        display: none;
        visibility: hidden;
    }
    
    .header{
        display: none;
        visibility: hidden;
    }
    
    
}


/*************************Profile Section****************************************/

.container{
   background-color: #f1f1f1;
}

#profile_name{
    display: inline;
    color: #f1f1f1;
    font-size: 20px;
    margin-left: 50px;
}

.profile_name{
    margin-top: 12px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 75px;
}

.profile_container{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 550;
    background-color: #f4c875;
    display : grid;
    height: 100%;
}

.data{
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 90px;
    background-color: white;
    padding: 30px;
}

.plan_tour_container{
    display: none;
}

/*************************Plan A Tour****************/
.plan_tour_container{
    background-color: #f4c875;
    display: grid;
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    height: 100%;
    padding: 50px;
    font-weight: 1000px;
}

.plan-trip{
    color: white;
    font-family : cursive;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: -15px;
}

.tour_plan{
    padding: 25px;
    color: black;
    background-color: white;  
    
}

.days{
    display: inline;
    position: relative;
    display: flex;
}


/**** Select Drop Down *******/
/*the container must be positioned relative:*/
.custom-select {
  position:inherit;
  font-family: Arial;
  margin-top: -3.35%;
  margin-left: 25px;
  display: inline;
}

.custom-select select{
    border-radius: 12px;
    padding: 10px;
}

#city_select{
    position: inherit;
    display: inline-block;
    
}

/** Search Button **/
.button {

  border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 75px;
  display: block;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/************************Hire a Guide***************************/

.hire-guide{
    position: inherit;
    display: block;
    background-color: #f4c875;
}

/***Search Box***/
.overlay {
    height: 100%;
    width: 100%;
    display: inherit;
    position: fixed;
    background-color: #f4c875;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 15%;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}

/*************************History*********************************/

.history{
    position: inherit;
    display: block;
    background-color: #f4c875;
    padding: 5px;
}
.tours_nav{
    display: flex;
    margin-bottom: 50px;
}

.Past-tours{
    position: relative;
    width: 200px;
    margin-right: 0px;
}

.Future-tours{
    position: relative;
    display: inline-grid;
    margin-left: 25%;
    margin-top: 50px;;
}